@model List<SaleProduct>
<div>
    <h1>Panier</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Prix</th>
            <th scope="col">Qty</th>
            <th scope="col">Total Ligne</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (SaleProduct product in Model)
        {
            <tr>
                <th scope="row">@product.Product.Id</th>
                <td>@product.Product.Title</td>
                <td>@product.Product.Price €</td>
                <td>@product.Qty</td>
                <td>@product.TotalLine €</td>
                <td><a asp-action="RemoveFromCart" asp-controller="Sale" asp-route-id="@product.Product.Id">Supprimer</a></td>
            </tr>
        }
    </tbody>
</table>