@model IEnumerable<Author>

@{
    ViewData["Title"] = "Liste des auteurs";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <h2>Liste des auteurs</h2>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.PictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.Fullname)</th>
                    <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.Id</td>
                        <td class="align-middle">
                            <img class="rounded" style="max-width: 150px" alt="@item.Fullname" src="@item.PictureURL" />
                        </td>
                        <td class="align-middle">@item.Fullname</td>
                        <td class="align-middle">@item.BirthDate.ToString("dddd dd MMM yyyy")</td>
                        <td class="align-middle">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="bi bi-eye"></i> Détails</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i> Editer</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_CreateNewItem", "Authors");