@using BookStore.Services;
@model IEnumerable<BookStore.Models.Book>
@inject ILogin _loginService
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (_loginService.IsAdmin())
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="container">
    <div class="row">
        @foreach (Book book in Model)
        {
            <div class="card col-3">
                <div class="card-header">
                    <div class="col-9">
                        @book.Title
                    </div>
                    <div class="col-3">
                        <a asp-action="edit" asp-controller="Books" asp-route-id="@book.Id">Edit</a>
                        <a asp-action="Delete" asp-controller="Books" asp-route-id="@book.Id">Delete</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <img class="col" src="~/@book.Poster" alt="Card image cap">
                        <div class="col">
                            <h5 class="card-title">@book.Title</h5>
                            <p class="card-text">@book.Description</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    @if(_loginService.IsLoggedIn())
                    {
                        <a href="#" class="btn btn-primary">Ajouter au panier @book.Price €</a>
                    }
                    
                </div>
            </div>
        }
    </div>

</div>
